*{
  /* Colors */
  color: #fff;
  /* Text */
  list-style-type: none;
  text-decoration: none;
  /* Others */
  scroll-behavior: smooth;
}

body{
  /* Display & Box Model */
  width: 100%;
  height: 100%;
  /* Text */
  font-family: 'Roboto', sans-serif;
}

.container{
  /* Display & Box Model */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
