nav{
  /* Position */
  position: sticky;
  top: 0;
  z-index: 99;
  /* Display & Box Model */
  width: 100%;
  height: 50px;
  /* Colors */
  background-color: #464646;
}

.nav-container{
  /* Display & Box Model */
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  /* Text */
  justify-content: space-between;
  align-items: center;
}
  
.logo a{
  /* Colors */
  color: #fff;
}
  
.logo a:hover{
  /* Colors */
  color: #ddd;
}

.hamburger-menu{
  /* Position */
  position: relative;
  /* Display & Box Model */
  width: 50px;
  height: 25px;
  /* Text */
  direction: rtl;
  text-align: center;
}

.hamburger-box{
  /* Display & Box Model */
  width: 50px;
  height: 25px;
}

.hamburger-menu .hamburger-piece{
  /* Position */
  display: block;
  /* Display & Box Model */
  width: 50px;
  height: 5px;
  margin-bottom: 3px;
  /* Colors */
  background-color: #fff;
}

.hamburger-menu:hover .hamburger-piece{
  /* Colors */
  background-color: #fff;
  /* Others */
  transition: all 1s;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari prior 9.0 */
  transform: rotate(180deg); /* Standard syntax */
}

ul{
  /* Position */
  position: absolute;
  top: 35px;
  right: -15px;
  /* Display & Box Model */
  display: none;
  /* Colors */
  background-color: #464646;
  /* Text */
  text-align: center;
  direction: rtl;
}

.hamburger-menu:hover ul{
  /* Display & Box Model */
  display: block;
}

ul li{
  /* Position */
  position: relative;
  /* Display & Box Model */
  display: block;
  width: 100px;
  height: 50px;
  padding: 0;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  /* Text */
  text-align: center;
  direction: ltr;
}

ul li a{
  /* Display & Box Model */
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  /* Colors */
  color: #fff;
  /* Text */
  align-items: center;
  justify-content: center;
}

ul li .disabled{
  /* Display & Box Model */
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  /* Colors */
  color: #fff;
  /* Text */
  text-decoration: line-through;
  align-items: center;
  justify-content: center;
}

/* @media screen and (min-width: 375px){
  
}

@media screen and (min-width: 425px){

} */

@media screen and (min-width: 768px){
  .hamburger-box{
    /* Display & Box Model */
    display: none;
  }

  .hamburger-menu{
    /* Display & Box Model */
    width: 50%;
    height: 50px;
    margin: 0;
  }

  .hamburger-menu:hover ul{
    /* Display & Box Model */
    display: flex;
  }
  
  ul{
    /* Position */
    position: initial;
    /* Display & Box Model */
    display: flex;
    margin: 0;
    /* Colors */
    background-color: #464646;
    /* Text */
    direction: ltr;
    place-content: center;
    /* Others */
    transition: all 1s;
  }

  ul li{
    /* Display & Box Model */
    display: flex;
    border: none;
  }
  
  li a{
    /* Colors */
    color: #fff;
  }
  
  li a:hover{
    /* Colors */
    color: #ddd;
  }
  
  li span{
    /* Display & Box Model */
    opacity: 0.7;
  }
}

@media screen and (min-width: 1024px){
  .nav-container{
    /* Display & Box Model */
    width: 960px;
    margin: auto;
  }

  .hamburger-box{
      /* Others */
    cursor: pointer;
  }

  .logo a:hover{
    /* Others */
    cursor: pointer;
  }

  ul li a{
    /* Others */
    cursor: pointer;
  }

  li span{
    /* Others */
    cursor: not-allowed;
  }

  ul li:hover{
    /* Others */
    transition: all 1s;
  }

  ul li a:hover{
    /* Colors */
    color: #464646;
    background-color: #fff;
  }
}

/* @media screen and (min-width: 1440px){
  
}

@media screen and (min-width: 2560px){
  
} */

