#products{
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Colors */
  background-color: #3C546D;
}

.products-container{
  /* Display & Box Model */
  width: 90%;
  max-height: 100%;
  margin: auto;
  /* Text */
  place-content: center;
}

.products-container h2{
  /* Display & Box Model */
  width: 100%;
  padding: 50px 0;
  /* Colors */
  color: #FEFEFE;
  /* Text */
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.products-container .box-container{
  /* Display & Box Model */
  display: grid;
  width: 90%;
  grid-template-columns: 80%;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-row-gap: 30px;
  margin: auto;
  padding: 10px 0 50px;
  /* Text */
  justify-content: center;
}

.box-container > div{
  /* Position */
  position: relative;
  /* Display & Box Model */
  display: grid;
  height: 200px;
  box-sizing: border-box;
  /* Colors */
  background: #EFEFEF;
  color: #000;
  /* Text */
  place-content: center;
  text-align: center;
  font-size: large;
}

div > .box-new{
  /* Position */
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 98;
  /* Display & Box Model */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* Colors */
  background: orange;
}

.smalltext{
  /* Colors */
  color: #000;
  /* Text */
  font-size: small;
}

@media screen and (min-width: 375px){
  .box-container > div{
    /* Display & Box Model */
    height: 250px;
  }

  .products-container h2{
    /* Text */
    font-size: 22px;
  }
}
@media screen and (min-width: 425px){
  .box-container > div{
    /* Display & Box Model */
    height: 300px;
}

  .products-container h2{
    /* Text */
    font-size: 24px;
  }
}

@media screen and (min-width: 768px){
  #products{
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Colors */
    background-color: #3C546D;
  }
  
  .products-container{
    /* Display & Box Model */
    box-sizing: border-box;
  }
  
  .products-container h2{
    /* Text */
    text-align: left;
    font-size: 28px;
  }
  
  .products-container .box-container{
    /* Display & Box Model */
    width: 600px;
    height: 350px;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 40% 40%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  
  .box-container > div{
    /* Display & Box Model */
    height: auto;
    padding: 10%;
  }
}

@media screen and (min-width: 1024px){
  .box-container > div:hover{
    /* Colors */
    background-color: #fff;
    /* Others */
    transform: scale3d(1.4, 1.4, 1.4);
    cursor: pointer;
  }

  .products-container{
    /* Display & Box Model */
    width: 960px;
  }
  .box-container > div{
    /* Others */
    transition: 1s all;
  }

  .box-container > div:hover{
     /* Others */
    transform: scale(1.1);
  }
}
/* 
@media screen and (min-width: 1440px){
  
}

@media screen and (min-width: 2560px){

} */