@media screen and (min-width: 320px){
  #products{
    width: 100%;
    background-color: #3C546D;
    display: flex;
    flex-direction: column;
  }
  
  .products-container{
    place-content: center;
    width: 100%;
    max-height: 100%;
  }
  
  .products-container h2{
    color: #FEFEFE;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  
  .products-container .box-container{
    display: grid;
    margin: auto;
    justify-content: center;
    width: 90%;
    padding: 10px 0 50px;
    grid-template-columns: 80%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-row-gap: 30px;

  }
  
  .box-container > div{
    height: 200px;
    box-sizing: border-box;
    background: #EFEFEF;
    color: #000;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: large;
    position: relative;
  }
  
  div > .box-new{
    width: 12px;
    height: 12px;
    background: orange;
    z-index: 90;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
  }
  
  .box-container > div:hover{
    transform: scale(1.05);
  }
  
  .smalltext{
    color: #000;
    font-size: small;
  }
}

@media screen and (min-width: 375px){
  .box-container > div{
    height: 250px;
}

@media screen and (min-width: 425px){
  .box-container > div{
    height: 300px;
}

@media screen and (min-width: 768px){
  #products{
    width: 100%;
    background-color: #3C546D;
    display: flex;
    flex-direction: column;
  }
  
  .products-container{
      box-sizing: border-box;
  }
  
  .products-container h2{
    text-align: left;
    font-size: 28px;
  }
  
  .products-container .box-container{
    width: 600px;
    height: 350px;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 40% 40%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  
  .box-container > div{
    height: auto;
    padding: 10%;
    transition: 1s all;
  }
}

@media screen and (min-width: 1024px){
  .box-container > div:hover{
    transform: scale3d(1.4, 1.4, 1.4);
    background-color: #fff;
    cursor: pointer;
  }
}

@media screen and (min-width: 1440px){
  
}

@media screen and (min-width: 2560px){
  
}