@media screen and (min-width: 320px){
  #team{
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
  }
  
  .team-container{
    display: flex;
    flex-direction: column;
    place-content: center;
    margin: auto;
    width: 90%;
    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
  
  }
  
  .team-container h3{
    color: rgb(27, 26, 78);
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .person{
    width: 100%;
    height: 30%;
    margin: 20px 0;
    display: flex;
    place-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .person > .circle{
    width: 280px;
    height: 160px;
    margin-bottom: 20px;
    margin: 20px auto;
  }
  
  .person > .circle > img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    size: cover;
  }
  
  article{
    width: 90%;
    height: 100%;
    color: #000;
    text-align: justify;
  }
  
  article > header{
    color: #000;
    padding: 15px 10px;
    font-weight: 700;
  }
  
  article > p{
    color: #000;
    padding: 15px 10px;
  }
}

@media screen and (min-width: 375px){
  article{
    padding: 0 10px;
  }
}

@media screen and (min-width: 425px){

}

@media screen and (min-width: 768px){
  .team-container h3{
    text-align: left;

  }
  
  .person{
    flex-direction: row;
    margin: 20px 0;
    width: 95%;
  }
  
  .person > .circle{
    margin: 0;
  }
  
  article > header{
    direction: ltr;
  }
  
  article > p{
    direction: ltr;
  }
  
  .person:nth-child(odd){
    direction: rtl;
    text-align: right;
  }

  .person:nth-child(odd) > article{
    text-align: right;
  }
}

@media screen and (min-width: 1024px){
  .team-container h3{
    text-align: left;
  }
  
  .person{
    flex-direction: row;
  }
  
  .person > .circle{
    margin: 0;
  }
  
  article > header{
    direction: ltr;
  }
  
  article > p{
    direction: ltr;
  }
  
  .person:nth-child(odd){
    direction: rtl;
    text-align: right;
  }

  .person:nth-child(odd) > article{
    text-align: right;
  }

  .footer-container{
    width: 960px;
  }
}

@media screen and (min-width: 1440px){
  
}

@media screen and (min-width: 2560px){
  
}

